<app-header-tabs titulo="Configuracion General"></app-header-tabs>

<ion-content>
<ion-list>
 
  <ion-item (click)=redirectPerfilConf()>
    <ion-label>
      Mi Perfil
    </ion-label>
  </ion-item>

  <ion-item (click)=redirectEspaciosConf()>
    <ion-label>
      Espacios
    </ion-label>
  </ion-item>

  <ion-item (click)=redirectMensajesConf()>
    <ion-label>
      Mensajes
    </ion-label>
  </ion-item>

  <ion-item (click)=redirectNotificacionesConf()>
    <ion-label>
      Notificaciones
    </ion-label>
  </ion-item>

  <ion-item (click)=redirectPrivacidadConf()>
    <ion-label>
      Privacidad
    </ion-label>
  </ion-item>

  <ion-item (click)=redirectAcercaDe()>
    <ion-label>
      Acerca de
    </ion-label>
  </ion-item>

</ion-list>
</ion-content>
