// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

$margen: 20px 20px 20px 20px;

.container{
  padding:$margen;
  background-color: #eee;
  min-height: 100%;
}

.TextoCentrado{
  text-align: center;
}

.TextoDerecha{
  text-align:right;
}